.grid {
  width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  color: #fff;
  margin: 118px auto 92px;
}

.grid-photo {
  /*  width: 100%; */
}

@media screen and (max-width: 1278px) and (min-width: 768px) {
  .grid {
    margin: 64px auto 88px;
    width: 720px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 64px auto 88px;
  }

  .grid-photo {
    width: 100%;
    height: 340px;
  }
}

@media screen and (max-width: 767px) {
  .grid {
    width: 288px;
    margin: 38px auto 62px;
    grid-gap: 12px;
    height: 1812px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin: 38px auto 62px;
  }

  .grid-photo {
    object-fit: contain;
  }
}
